.hero-section img:hover{
    border: 5px solid blueviolet;
    border-radius: 5px;
}

.heading{
    text-align: center;
    color:white;
    font-weight: 500;
    font-size:xx-large;
    margin-top: 20px;
}
.product-info h4{
    font-size: x-large;
    color:blueviolet;
}
.product-info p{
    color:white;
    font-size: 30;
    margin-bottom: 10px;
}

.products{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin: 100px auto;
    padding: 40px;
}

.product-info{
    background-color: rgb(84, 212, 77);
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
}

.product-info button{
    background: aqua;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    width: 100%;
    font-weight: 500;

}

.product-info button:hover{
    background-color:darkkhaki;
    cursor: pointer;
}

.product-info button{
    height: 30px;
    width: 280px;
    border-radius: 5px;
}

.product-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product-card{
    background-color:black;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    overflow: hidden;
    transition: transform 50.0s, box-shadow 0.3s;
    flex: 1 1 300px;
    max-width: 700px;
}

.product-card:hover{
    transform: translataY(-20px);
    border: 10px solid brown;
}

#shoe1:hover{
    content: url(/Images/huawei1-1.webp);
}

#shoe2:hover{
    content: url(/Images/huawei2-1.png);
}

#shoe3:hover{
    content: url(/Images/huawei3-1.jpg);
}

#shoe4:hover{
    content: url(/Images/huawei4-1.jpg);
}

#shoe5:hover{
    content: url(/Images/huawei5-1.webp);
}

#shoe6:hover{
    content: url(/Images/huawei6-1.jfif);
}

.footer{
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
.footer-links{
    margin:20px;
}

footer-links h4{
    margin-top: 0;
}

footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li{
    margin-bottom: 10px;
}

.footer-links a{
    text-decoration: none;
    color: deeppink;
}

.footer-copyright{
    text-align: center;
    font-size: 14px;
    color: red;
}
